body {
	font-family:sans-serif;
	background:rgba(0,0,0,1);
    font-size: 0.7em;
}

#toolContainer {
	xtransition-property: all;
	xtransition-duration: 2.5s;
	xtransition-timing-function: ease;
	xtransition-delay: 0s;

	overflow:hidden;
	width:30em;
	position: fixed; top: 0px;left: 0px; z-index:10; 
	color: white;

	z-index: 120;
    padding: 0;
    margin: 0;
}

.toolWindow {
	transition-property: max-height;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
	overflow:hidden;
	max-height:2.7em; /*(padding == 2*0.4 zaehlen nicht -0.8em) 2em + 2 * 2* 0.1 paddig + 2* 0.2 margin unten */
	color: white;
    background:rgba(255, 0, 204, .3);
	z-index: 125;
    margin: 0;
    padding: 0.4em;
}

/*
#toolsMenu {
    padding: 0.2em;
    margin: 0.2em;
    border: 0px;
    position: fixed; bottom: 0px;right: 0px; z-index:2;
    color: white; width: 400px;
    background:rgba(0,0,0,1);
}

#toolsMenu a {

}
*/

.toolMenuContent {
    background:rgba(0,0,0,0.85);
    margin: 0;
    padding: 0.4em;
}


.toolWindow:hover {
    background:rgba(255, 0, 204, .6);
}

.activeWindow {
	max-height: 1200px;
	background:rgba(255, 0, 204, .6);
}
/* 2 + 0.4 oben + 0.2 marg + 0.1pad = 2.7*/
.toolMenuHeader {
    background:rgba(0,0,0,0.8);
    margin: 0 0 0.2em 0;
    padding: 0.1em;
    cursor:pointer;
    font-size: 2em;

    background-image:url("../../res_evocell/images/icons/icons/plus.png");
    background-size: 1.4em;
    background-repeat:no-repeat;
    background-position:right top;
}

/*.activeWindow:nth-child(1) {*/
.activeWindow .toolMenuHeader {
    background:rgba(0,0,0, .5);
    background-image:url("../../res_evocell/images/icons/icons/minus.png");
    background-size: 1.4em;
    background-repeat:no-repeat;
    background-position:right top;
}


/*#aboutWindow {*/
	/*transition-property: max-height;*/
	/*transition-duration: 0.3s;*/
	/*transition-timing-function: ease;*/
	/*transition-delay: 0s;*/

	/*overflow:hidden;*/
	/*width: 100%;*/
	/*max-height:4.2em;*/
	/*color: white;*/
	/*background:rgba(255,0,0,0.2);*/

	/*z-index: 120; */
/*}*/

#aboutWindow:hover {
		max-height: 1200px;
}


.buttons {
	color: white;
}

.buttons:hover{
	text-shadow: 0 0 1.0em yellow
}

.buttons:active{
	color: black;
}

.storyElement { 
   kjkjjposition: relative; 
	display: none;
	color: white;
}

.xxxstoryElement h2 { 
	padding: 5px 5px 5px 5px;
   position: absolute; 
   bottom: 30px; 
   right: 200px; 
   width: 400px; 
	color: white;
	background:rgba(0,0,0,0.7);

	display: inline;
    float: none;
}

.storyElement img {
	height: 75%;
}


select {
    font-size:9pt;
    letter-spacing:0.07em;
    color: white;
    background:transparent;
    border: solid 1px #808080;
    padding:3px;
    cursor:pointer;
}
select option:checked {
}
select option:nth-child(even) {  }


#centeredContainer {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: -10px;
    line-height: 20px;
    text-align: center;
    vertical-align: center;
   	z-index: 110; 
   	background:rgba(255,255,255, 0);
   	display: none;
}

#centeredMessage {
   padding: 100px;
   width:600px; 
   background:rgba(255,0, 0, 0.8); 
   display: inline-block;
   font-size: 3em;
   line-height: 1em;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* dev options */
.devModeSection{
    display:none;
}