<html>
<head>
<link type="text/css" rel="stylesheet" href="css/jquery-ui-1.10.4.custom.css" />
<script data-main="src/game/StoryTeller" src="src/game/libs/require.js"></script>
<style>
body {
	font-family:sans-serif;
}
.storyElement { 
   position: relative; 
	display: none;
}

.storyElement h2 { 
	padding: 5px 5px 5px 5px;
   position: absolute; 
   top: 10px; 
   left: 10px; 
   width: 300px; 
	color: white;
	background:rgba(0,0,0,0.3);
}

.storyElement img {
	height: 400px;
}

</style>
</head>
<body>
	<a id="ttslink" href="http://translate.google.com/translate_tts?ie=UTF-8&q=Hello%20to%20stack%20unterfluss%20mit%20coolstufzf&tl=en" rel="noreferrer">WORKS</a>
	 <script type="text/template" id="part-template">
    <div class="storyElement" id="<%=id%>">
      <h2><%= text %></h2><img src="<%= image %>" alt="<%= text %>"> </img>
    </div>
  </script>
	<div id="container"></div>

	
</body>
</html>
